
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block title %}<title>NAFAN - The National Finding Aid Network</title>{% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>

    <script type="text/javascript">
      NAFAN = {};
    </script>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>     
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"rel="stylesheet" type="text/css" />  

</head>

<body>

<div class="container-fluid">

    <div class="row top-buffer">

      <div class="col-sm-2">
          <a href="/newToNAFAN">New to NAFAN?</a>
      </div>

      <div class="col-sm-8">
        <h2 class="page-header text-center">Welcome to NAFAN</h2>
      </div>

      <div class="col-sm-2">
          <a class="float-right" href="/nafanlogin">Login</a>
      </div>
      
    </div>
    
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="{% url 'home' %}" method="get">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" name="searchTerm" type="search" placeholder="Search archives">
                    </div>
                </div>
            </form>

            {% if search_term  %}

                <p>Searched for: {{ search_term }}</p>

                {% for data in response %}
                    <p>{{ data.repository }}</p>
                    <p>{{ data.content }}</p>
                {% endfor %}

            {% else %}

            <div id="index_notes">
                <p>When a user comes to the site they are either researchers, contributors, or someone who has yet to determine
                their role.  This landing page provides for all three.
                </p>
                <p>The New to NAFAN? link takes the user to a page that orientates them whether they are a researcher or a contributor.
                It is essentially a beefed-up About page that can also serve as the hub of an online support architecture.  Button vs.
                hyperlink?  Have a look at this: <a href="https://uxmovement.com/buttons/when-to-use-a-button-or-link/" target="blank">Button or Link</a>
                </p>
                <p>The Login is initially for contributors and site administrators.  It has yet to be determined if researchers
                will be provided a login.  It may be deemed useful for benefits such as saving search queries or maintaining a set of
                preferred repositories.
                </p>
                <p>The results of the search need to be determined.</p>
            </div>

            {% endif %}
        </div>
    </div>

    <footer>
        <p></p>
    </footer>
</div>
</body>
</html>