<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block title %}<title>NAFAN - The National Finding Aid Network</title>{% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>

    <script type="text/javascript">
      NAFAN = {};
      NAFAN.DefaultID = -1;
    </script>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">  </script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"rel="stylesheet" type="text/css" />  

</head>

<body>

<div class="container_fluid">

  <div class="row top-buffer">

      <div class="col-sm-2">
      </div>

      <div class="col-sm-8">
         <h2 class="page-header text-center">NAFAN Admin</h2>
     </div>

      <div class="col-sm-2">
          <button class="btn btn-md btn-primary float-right" type="button" onclick="location.href='/logout'">Logout</button>
      </div>
      
  </div>

	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

          <h4><a href="/Repositories/repositories">Repositories</a></h4>

          <p>A NAFAN Admin can perform all repository actions.  These include adding repository, editing repository
             information, activating and deactivating a repository, and splitting and merging repositories.  Unlike a
             Contributor Admin, a NAFAN Admin has access to all repositories in the system.
          </p>

          <p>Currently the thinking is to contain the parent institute name within the repository.  There has been some
             chatter about possibly saving that as a separate entity within the system.
          </p>

          <h4><a href="/Users/users">Users</a></h4>

          <p>A NAFAN Admin can perform all user actions.  These include adding users, editing user
             information and activating and deactivating a user.  Unlike a Contributor Admin, a NAFAN Admin 
             has access to all users in the system.  A NAFAN admin also creates the initial Contributor Admin 
             for a repository and has the capability of designating an existing user as a Contributer Admin.
             The repositories available to a Contributor Admin are also designated by the NAFAN Admin.
          </p>
          
          <h4><a href="/Admin/audit">Audit</a></h4>

          <p>An Audit component contains information about the site usage.  This could contain web statistics such
             as user logins, collections visited, search terms used, etc.  Anything worth tracking can be reported
             within the Audit section.
          </p>
          
          <h4><a href="/Admin/tracelog">TraceLog</a></h4>

          <p>The Tracelog, on the other hand, primarily is used for internal system reporting.  Typically is contains
             any errors produced during site operation.  It can also be used to log timed activities, and is often
             used for logging system activity during development and to track production problems.
          </p>
          
              {% comment %} <li><a href="/Admin/upload_repositories">Upload Repositories</a></l1> {% endcomment %}

      </div>
  </div>

</div>

</body>
</html>